<!doctype html>
<html lang="es">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1 th:text="${titulo}"></h1>
    <table border="1">
        <thead>
            <tr>
                <th>id</th>
                <th>numero</th>
                <th>Paciente</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td th:text="${consulta.id}"></td>
                <td th:text="${consulta.numero}"></td>
                <td th:text="${consulta.paciente.nombres}"></td>
            </tr>
        </tbody>
    </table>
    <br>
    <a th:href="@{/view/pacientes}">Ver Lista de pacientes</a>
</body>
</html>